<ion-header>
    <ion-navbar>
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item *ngIf="userProfile">
        <ion-avatar item-left>
            <img [src]="userProfile.photoURL">
        </ion-avatar>
        <h2>{{ userProfile.displayName }}</h2>
        <h3>{{ userProfile.email }}</h3>
    </ion-item>

    <button ion-button block color="danger" (click)="loginUser()" *ngIf="!userProfile">
        <ion-icon name="logo-googleplus"></ion-icon>
        Login with Google
    </button>

    <button ion-button block color="primary" (click)="loginUserFb()" *ngIf="!userProfile">
        <ion-icon name="logo-googleplus"></ion-icon>
        Login with Facebook
    </button>


</ion-content>